.App {
  font-size: 1rem;
  text-align: center;
}

.addFood {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addFood input {
  width: 30vh;
  height: 2rem;
}

.foodContainer {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
